h1 a {
    font-family: Oswald;
}
#main{
    
    padding-left: 50px; 
    padding-top: 20px;
}
#main-space{
    border-left: 1px solid gray; 
    border-bottom: 1px solid gray; 
    float: left;
    width: 73%;
}
#category{
    text-align: center; 
    width: 25%; 
    float:left; 
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 0px;


}
.category #category-button{
    cursor: pointer;
}
#category-button{
    
    font-size: 30px;
    font-weight:700;
}

#button{
    border-radius: 30px;
    background-color: #eeeeee; 
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font: bold;
    border-style: outset;
    border-color: buttonface;
}

#button:hover{
    background-color: #dddddd; 
}
#date{
    font-size: 15px;
    float: right;
}

#id_title{
    border: 1px solid black;
    border-radius: 30px;
    height: 20px;
    width: 80%;
    background-color: #eeeeee;
    /* border-radius: 30px;
    background-color: #eeeeee; 
    background-color: black;
    float: right; */
}
#id_title:hover{
    border: 2px solid black;
}
.post-form #id_text{
    border: 1px solid black;
    height: 200px;
    border-radius: 10px;
    width: 80%;
    background-color: #eeeeee;
}
#id_text:hover{
    border: 2px solid black;
}

.comment-form{
    width: 100%;
    float: left;
}
.comment-form textarea{
    border-radius: 10px;
    border: 1px solid black;
    height: 60px;
    width: 80%;
    background-color: #eeeeee;
}
.comment-form #id_name{
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    width: 80%;
    background-color: #eeeeee;
    
}
.comment-form #id_name:hover{
    border: 2px solid black;
}

button[type=submit] {
    border-radius: 30px;
    background-color: #eeeeee; 
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font: bold;
}
button:hover[type=submit] {
    border-radius: 30px;
    background-color: #eeeeee; 
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font: bold;
}
button:hover[type=submit]{
    background-color: #dddddd; 
}
#category-list{
    width: 100%;
    font-size: 25px;
}
#category-list:hover{
    background-color: #eeeeee; 
    width: 100%;
    font-weight:700;
}
#category-select{
    background-color: #cccccc; 
    font-size: 25px;
    width: 100%;
    font-weight:700;
}
#main img{
    max-width: 100%;
}
.setting{
    border-bottom: 1px solid #dddddd;
}
.post{
    padding-bottom: 25px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
}
#comment{
    padding-left: 50px;
}
.pagination span{
    margin-right: 5px;
    padding-left: 13px;
    padding-right: 2px;
    text-align: center;
}
@media screen and (max-width: 760px)
{
    #category{
        float: none;
        border-right:0px;
        width: auto;
        height: auto;
        border-bottom : 1px solid gray;
        border-right : 1px solid gray;
        border-radius: 0px;
        
    }
    .post{
        border-right : 1px solid gray;
        border-left : 1px solid gray;
        padding-left: 0px;
    }
    #main-space{
        border-left : 0px solid gray;
        width: auto;
        float: none;
        border-bottom: 0px solid black;
        
    }
    #main{
        border-right : 1px solid gray;
        border-left : 1px solid gray;
        padding-left: 20px; 
        padding-right: 10px;
        padding-top: 20px;

    }
    .comment-form{
        padding: 10px;


    }
    #comment{

        padding-left: 0px;
    }
}
