h1 a {
    font-family: Oswald;
}

html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
}
.wrap {
    min-height: 100%;
    position: relative;
}
.site-header{
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
}
#main{
    
    padding-left: 50px; 
    padding-top: 20px;
}
#main-space{
    float: left;
    width: 73%;
    min-height: 650px;
}
#category{
    text-align: center; 
    width: 25%; 
    float:left; 
    border-bottom: 0px solid black;
    border-left: 0px solid black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 0px;

}
.category #category-button{
    cursor: pointer;
}
#category-button{
    
    font-size: 30px;
    font-weight:700;
}

.button-text-color span{
    color:white;
}
#button:hover{
    background-color: #dddddd; 
}
#date{
    font-size: 15px;
    float: right;
}

.comment-form{
    width: 100%;
    float: left;
}


#category-list{
    width: 100%;
    font-size: 25px;
}
#category-list:hover{
    background-color: #eeeeee; 
    width: 100%;
    font-weight:700;
}
#category-select{
    background-color: #cccccc; 
    font-size: 25px;
    width: 100%;
    font-weight:700;
}
#main img{
    max-width: 100%;
}
.setting{
    border-bottom: 1px solid #dddddd;
}
.post{
    padding-bottom: 25px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
}
#comment{
    padding-left: 50px;
    
}
.pagination span{
    margin-right: 5px;
    padding-left: 13px;
    padding-right: 2px;
    text-align: center;
}
#post-list{
    height: 480px;
}
footer{
    float: left;
    height: 220px;
    width: 100%;
    background-color: #eeeeee;
    margin: 0;
    text-align: center;
}
#footer-text{
    text-align: center;
}

#footer-text span{
    text-align: center;
    height: 210px;
    line-height: 210px;
}
.comment-part input{
    width: 80%;
}
.comment-part textarea{
    width: 80%;
}
@media screen and (max-width: 760px)
{
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
        width: 100%;
        background-color: #eeeeee;
    }
    #category{
        float: none;
        border-right:0px;
        width: auto;
        height: auto;
        border-bottom : 1px solid gray;
        border-right : 1px solid gray;
        border-radius: 0px;
        
    }
    .post{
        padding-left: 0px;
    }
    #main-space{
        border-left : 1px solid gray;
        border-right : 1px solid gray;
        width: auto;
        float: none;
        min-height: 300px;
        
    }
    #main{
        padding-left: 20px; 
        padding-right: 10px;
        padding-top: 20px;

    }
    .comment-form{
        padding: 10px;


    }
    #comment{
        padding-left: 0px;
    }
    #post-list{
        height: 500px;
    }
}
