{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div id ="main" >
            
            <span style="font-size: 35px"><a href="{% url 'post_detail' number=num pk=post.pk %}">{{ post.title }} </a></span>
            <br><span id="date" style="color:#aaaaaa;" >{{post.published_date|date:"Y-m-d"}} 작성</span><br><br>
            {% if post.img %}
                <img src = "{{ post.img.url }}"/>
            {% endif %}

            <p>{{ post.text|linebreaksbr }}</p>
            
            {% if post.file %}
            <br>
                <a href = "{{ post.file.url }}" download><span class="glyphicon glyphicon-download-alt" style="font-size: 20px"> {{post.file}}</span> </a>
            {% endif %}
        </div>

        <div style="float: right;margin-right: 10px">
                    
                <a class="btn btn-primary button-text-color" href="{% url 'post_delete' number=num pk=post.pk %}"><span>포스트 삭제</span></a>
        </div>
        <div style="float: right;margin-right: 10px">
                <a class="btn btn-primary button-text-color" href="{% url 'post_edit' number=num pk=post.pk %}"><span>포스트 수정</span></a>
        </div><br><br>
        
    </div>
    <div id = "comment">
            {% for comment in comments %}
            <div style="border-bottom : 1px solid #eeeeee;">
                <span style="font-size: 35px">{{ comment.name }}</span><br>
                <span style="font-size: 20px; word-break: break-all;">{{ comment.text }}</span><br>
                <span style="font-size: 15px">{{comment.created_date}} 작성</span>
                <div id="button"style="float: right;">
                        <a href="{% url 'comment_delete' number=num post_pk=comment.num comment_pk=comment.pk %}" class="btn btn-primary
                        button-text-color"><span>댓글 삭제</span></a>
                </div><br><br><br>
            </div>
            {% endfor %}
            <br>
            <form method="POST" class="comment-form" action="" enctype="multipart/form-data">{% csrf_token %}
                {{ form.non_field_errors }}
                
                <div class="comment-part">
                        {{ form.name.errors }}
                        <label for="id_title" style="font-size: 20px;">댓글 제목</label><br>
                        {{ form.name }}
                </div><br>
                <div class="comment-part">
                        {{ form.text.errors }}
                        <label for="id_title" style="font-size: 20px;">댓글 내용</label><br>
                        {{ form.text }}
                        <div style="float: right;">
                                <button type="submit" class="save btn btn-primary">댓글 작성</button>
                        </div>
                </div><br>
            </form>     
    </div>
{% endblock %}